---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fdk-informationmodel-harvester
  labels:
    app: fdk-informationmodel-harvester
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fdk-informationmodel-harvester
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: fdk-informationmodel-harvester
      annotations:
        prometheus.io/scrape: "false"
    spec:
      containers:
        - name: fdk-informationmodel-harvester
          env:
            - name: FDK_SPARQL_SERVICE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_SPARQL_SERVICE_URI
            - name: FDK_INFORMATIONMODEL_HARVESTER_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_INFORMATIONMODEL_HARVESTER_BASE_URI
            - name: RABBIT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: RABBITMQ_USERNAME
            - name: RABBIT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: RABBITMQ_PASSWORD
            - name: HARVEST_ADMIN_ROOT_URL
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ADMIN_API_BASE_URI
            - name: MONGODB_USER
              valueFrom:
                secretKeyRef:
                  name: fdk-informationmodel-harvester
                  key: MONGODB_USER
            - name: MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fdk-informationmodel-harvester
                  key: MONGODB_PASSWORD
            - name: MONGODB_HOST
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_HOST
            - name: MONGODB_REPLICASET
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_REPLICASET
            - name: MONGODB_AUTH
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_AUTH
            - name: FDK_INFORMATIONMODEL_HARVESTER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: common
                  key: FDK_INFORMATIONMODEL_HARVESTER_API_KEY
            - name: KEYCLOAK_OIDC_ISSUER
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_ISSUER
            - name: ADMIN_API_KEY
              valueFrom:
                secretKeyRef:
                  name: fdk-harvest-admin
                  key: API_KEY
            - name: CORS_ORIGIN_PATTERNS
              valueFrom:
                secretKeyRef:
                  name: fdk-informationmodel-harvester
                  key: CORS_ORIGIN_PATTERNS
          image: fdk-informationmodel-harvester
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          resources:
            requests:
              memory: "3Gi"
              cpu: "10m"
            limits:
              memory: "3Gi"
